.uno{
  border-radius:50%;
  width: 200px;
  height: auto;
  
}

.dos{
    border-radius:10px;
    width:200px;
    height:auto;
}

.tres{
    border-radius:10px;
    width:200px;
    height:auto;
}
.conteiner{
    text-align:center;
    background-color:blueviolet;
    color:white;
    padding:20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgba(255, 255, 255, .6);
    max-width: 500px;
    margin: 60px auto;
    padding: 30px 20px 60px;

}

#Top{
background-image: url("./images/FONDO.jpg");
font-family: sans-serif;
margin: 0px;
padding: 0px;
}
nav{
    position:fixed;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;

}

nav ul{
    margin:0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(255, 211, 31, 0.94);
    box-shadow: 3px 3px 3px 1px rgba(255, 255, 255, .6);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    list-style: none;
    height: 40px;
    max-height: 40px;
    padding:20px 60px;
    width: 100%;
}


li{
padding:20px;

}

nav ul li a{

    font-size: 20px;
    letter-spacing: 1.6;
    font-weight: 700;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    transition-property: font-size;
    transition-duration: 1s;

}
nav ul li a:hover{
    font-size: 22px;
    
}

#dataSection{

    padding:60px;
}
.conteiner h1{
    font-size: 36px;
}
.conteiner a{
    color: white;
    text-decoration: none;
}